.Badge {
  display: inline-block;
  background: $colorVague;
  color: $textColorSecondary;
  border-radius: $radius;
  padding: .2em .4em;
  max-width: 100%;

  &.isExpandable {
    cursor: pointer;

    &:hover {
      background-color: $mainBackground;
    }
  }

  &:not(.isExpanded) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:not(.flat) {
    background: $colorVague;
    color: $textColorSecondary;
    border-radius: $radius;
    padding: .2em .4em;
  }

  &.small {
    font-size: $font-size-small;
  }
}
